.about{
  padding: 2em;
}
.about h1{
  text-align: center;
  font-size: 1.6em;
}
.about-continer{
  padding: 1em;
  max-width: 500px;
  background-color: rgb(139, 181, 245);
  font-size: 1.3em;
  border: 1px solid black;
  box-shadow: 9px 13px 16px -1px rgba(0,0,0,0.55);
-webkit-box-shadow: 9px 13px 16px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 9px 13px 16px -1px rgba(0,0,0,0.55);
  
}
.about-continer img{
  width: 100%;
}

.about nav a{
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(81, 130, 202);
  border-radius: 5px;
}
.about nav a:hover{

  background-color: rgb(104, 161, 247);

}