.review-list {
  list-style-type: none;
  padding: 0px;
}

.review-preview li{
font-size: 1.3em;
}
.btn-remove-review{
  background-color: rgb(91, 121, 160);
  color: whitesmoke;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
}
.btn-remove-review:hover{
  background-color: rgb(117, 152, 204);
}
