.user-msg {
    background-color: rgb(97, 97, 97);
    padding: .5em 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.user-msg.success {
    background-color: rgb(39, 177, 80);
}

.user-msg.error {
    background-color: rgb(185, 66, 66);
}


.user-msg button{
    float: right;
    margin: 1em;
}